# This File is automatically synchronized from https://github.com/Glatzel/template

name: lefthook

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      cache-rust:
        type: boolean
        default: false
        required: false
jobs:
  lefthook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ./lefthook/.pixi
          key: lefthook-${{ hashFiles('lefthook.yaml','./lefthook/pixi*')}}
          restore-keys: |
            lefthook

      #  pixi setup
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@main
        with:
          run-install: false

      - if: inputs.cache-rust
        uses: Swatinem/rust-cache@v2

      # pre-commit
      - name: lefthook
        run: pixi run --manifest-path ./lefthook/pixi.toml lefthook-run
        shell: pwsh

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
