name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "*.md"
  schedule:
    - cron: 0 16 * * *

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cargo-doc:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        if: ${{github.event_name=='pull_request'}}
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - name: cargo-doc
        run: ./scripts/cargo-doc.ps1
        shell: pwsh

  test-build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-latest
            os: win-64
          - machine: ubuntu-latest
            os: linux-64
          - machine: macos-latest
            os: osx-arm64

    env:
      dnc_version: 18_0
    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v6

      - name: restore dnc
        if: ${{runner.os != 'Linux'}}
        uses: actions/cache@v4
        with:
          path: ./temp/dnc${{env.dnc_version}}*
          key: dnc-${{ runner.os }}-${{env.dnc_version}}
      - if: ${{runner.os != 'Linux'}}
        run: ./scripts/install-dnc.ps1 -version ${{env.dnc_version}}
        shell: pwsh

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - uses: dtolnay/rust-toolchain@nightly

      - name: cargo-test
        run: ./scripts/cargo-test.ps1 --workspace --all-features --exclude fornax-py
        shell: pwsh

      - name: rattler-build
        run: ./crates/fornax-py/rattler/ci-fornax-py.ps1
        shell: pwsh

      - name: upload-assets
        uses: actions/upload-artifact@v5
        with:
          name: fornax-python-${{runner.os}}
          path: ./crates/fornax-py/rattler/output/${{matrix.os}}/*.conda
          if-no-files-found: error

      - name: Upload results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          fail_ci_if_error: true
