name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "crates/**"
      - "Cargo**"
      - "pixi*"
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
    paths:
      - "crates/**"
      - "Cargo**"
      - "pixi*"
  schedule:
    - cron: 0 16 * * *

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cargo-doc:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        if: ${{github.event_name=='pull_request'}}
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - name: cargo-doc
        run: ./scripts/cargo-doc.ps1
        shell: pwsh

  test-build:
    strategy:
      fail-fast: false
      matrix:
        machine: [windows-latest, ubuntu-latest, macos-latest]
    env:
      dnc_version: 18_0
    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v6
      - name: restore dnc
        if: ${{runner.os != 'Linux'}}
        uses: actions/cache@v5
        with:
          path: ./temp/dnc${{env.dnc_version}}*
          key: dnc-${{ runner.os }}-${{env.dnc_version}}
      - if: ${{runner.os != 'Linux'}}
        run: ./scripts/install-dnc.ps1 -version ${{env.dnc_version}}
        shell: pwsh

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - uses: dtolnay/rust-toolchain@nightly

      - name: cargo-test
        run: ./scripts/cargo-test.ps1 --workspace --all-features --exclude fornax-py
        shell: pwsh

      - name: pytest
        run: |
          ./scripts/maturin-develop.ps1
          ./scripts/pytest.ps1
        shell: pwsh

      - name: Upload results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          fail_ci_if_error: true
