name: libraw-bindgen
on:
    workflow_dispatch:

jobs:
    libraw-bindings:
        strategy:
          fail-fast: false
          matrix:
            machine: [windows-latest, ubuntu-latest,macos-latest]
            include:
              - machine: windows-latest
                os: win
              - machine: ubuntu-latest
                os: linux
              - machine: macos-latest
                os: macos
        runs-on: ${{matrix.machine}}
        env:
          RUSTFLAGS: "-Dwarnings"
        steps:
          - uses: actions/checkout@v6
          - name: Set up pixi
            uses: prefix-dev/setup-pixi@v0.9.3
            with:
              run-install: false
          - uses: dtolnay/rust-toolchain@stable
          - name: libraw-bindings
            run: |
              scripts/libraw-bindings.ps1
            shell: pwsh

          - name: upload
            uses: actions/upload-artifact@v6
            with:
              name: libraw-bindings-${{matrix.os}}
              path: |
                crates/libraw-sys/src/bindings-${{matrix.os}}.rs
              if-no-files-found: error
