name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-latest
            os: win-64
          - machine: ubuntu-latest
            os: linux-64
            container: ghcr.io/glatzel/github-action-runner
          - machine: macos-latest
            os: osx-arm64
    runs-on: ${{matrix.machine}}
    container: ${{ matrix.container }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: rattler-build
        run: ./crates/fornax-py/rattler/ci-fornax-py.ps1 -config release
        shell: pwsh

      - name: upload-assets
        uses: actions/upload-artifact@v6
        with:
          name: pyxis-python-${{matrix.machine}}
          path: |
            ./crates/fornax-py/rattler/output/${{matrix.os}}/*.conda
          if-no-files-found: error

  release:
    permissions:
      contents: write
    needs: [build]
    uses: Glatzel/template/.github/workflows/release.yml@main
    with:
      override: true
      tag: ${{inputs.tag}}
      have-changelog: true
      assets: true
